<template>
  <div>
      <Toast />
      <NuxtLayout />
  </div>
</template>

<script setup>
useHead({
  title: 'Meet your next Frontend Developer.',
  meta: [{
    name: 'title', content: 'Meet your next Frontend Developer.'
  }, {
    name: 'description', content: 'I love to craft beautiful static websites & complex web apps, easy to use and scalable.'
  }, {
    property: 'og:title', content: 'Meet your next Frontend Developer.'
  }, {
    property: 'og:description', content: 'I love to craft beautiful static websites & complex web apps, easy to use and scalable.'
  }, {
    property: 'og:image', content: 'https://allainpierre.fr/imgs/meta/thcv.png'
  }, {
    property: 'og:type', content: 'website'
  }, {
    property: 'og:url', content: 'https://allainpierre.fr/'
  }, {
    property: 'twitter:card', content: 'summary_large_image'
  }, {
    property: 'twitter:url', content: 'https://allainpierre.fr/'
  }, {
    property: 'twitter:title', content: 'Meet your next Frontend Developer.'
  }, {
    property: 'twitter:description', content: 'I love to craft beautiful static websites & complex web apps, easy to use and scalable.'
  }, {
    property: 'twitter:image', content: 'https://allainpierre.fr/imgs/meta/thcv.png'
  }],
})
</script>