#page-about {
    padding-top: 150px;
    margin: auto;

    .p-inline-message{
        display: flex;
        margin-bottom: 50px;
    }

    h1 {
        font-size: 4rem;
        margin-bottom: 35px;
        color: var(--text-color);

        span {
            color: var(--primary-color);
        }
    }

    .grid {
        display: grid;
        margin-bottom: 50px;
        grid-template-columns: repeat(6, 1fr);

        img,
        .p-galleria {
            aspect-ratio: 1/1;
            width: 100%;
            grid-auto-rows: 1fr;
        }
        .galleria{
            grid-column: span 2;
            ul {
                background-color: transparent;

                li.p-highlight {
                    button {
                        background-color: var(--primary-color);
                    }
                }

                button {
                    background-color: rgba($color: #ffffff, $alpha: .65)
                }
            }
        }
        .p-button{
            padding: 8px;
        }
        .pi-instagram{
            padding: 4px;
        }

        .desc {
            background-color: var(--surface-50);
            grid-column: span 4;
            padding-left: 50px;
            padding-right: 50px;

            p {
                font-size: 1.2rem;
                line-height: 2rem;
                color: var(--text-color-secondary);
            }
        }
    }
    
    @include responsive(large){
        .grid{
            .desc{
                grid-column: span 3;
                button{
                    margin-bottom: 25px;
                }
            }
            .p-galleria{
                grid-column: span 3;
            }
        }
    }
    @include responsive(medium){
        .grid{
            background-color: var(--surface-50);
            .desc{
                grid-column: span 3;
                button{
                    margin-bottom: 25px;
                }
            }
            .p-galleria{
                grid-column: span 3;
            }
        }
    }
    @include responsive(small){
        padding-top: 100px;
        h1{
            font-size: 2rem;
            margin-top: 35px;
        }
        .grid{
            grid-template-columns: repeat(1, 1fr);
            .p-galleria{
                grid-row: 1;
            }
            .desc{
                padding-left: 20px;
                padding-right: 20px;
    
                p{
                    line-height: 1.4rem;
                    font-size: 1rem;
                }
                button{
                    margin-bottom: 15px;
                }
            }
        }
    }
}