#page-contact {
    padding-top: 250px;
    width: 810px;
    margin: auto;
    h1 {
        margin-top: 0;
        font-size: 5rem;
        margin-bottom: 35px;
        color: var(--text-color);

        span {
            color: var(--primary-color);
        }
    }
    p{
        color: var(--text-color-secondary);
    }

    .btns {
        display: flex;
        gap: 10px;

        button {
            font-weight: 500;
        }

        i {
            font-size: 1.2rem;
        }
    }

    iframe {
        border-radius: 20px;
    }

    @include responsive(medium){
        width: 700px;
        margin: auto;
        h1{
            font-size: 4rem;
        }
        p{
            font-size: 1.3rem;
            line-height: 2rem;
        }
    }
    @include responsive(small){
        padding-top: 100px;
        width: calc(100% - 40px);
        h1{
            font-size: 2.05rem;
        }
        p{
            font-size: 1.1rem;
            line-height: 2rem;
        }
    }
}