#page-index {
    padding-top: 250px;

    .hero {
        display: flex;
        align-items: center;
        margin-bottom: 150px;

        h1 {
            margin-top: 0;
            font-size: 5rem;
            color: var(--text-color);

            span {
                color: var(--primary-color);
            }
        }

        @keyframes dash {
            from {
                stroke-dashoffset: 800;
            }
            to {
                stroke-dashoffset: 0;
            }
        }

        .content {
            p {
                font-size: 1.5rem;
                color: var(--text-color);

                .color {
                    color: var(--text-color);
                    font-weight: 700;
                }
            }

            a {
                &:last-of-type {
                    margin-left: 10px;
                }
            }

            button {
                padding: 10px 30px;
            }
        }
    }

    .cards {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 25px;
        padding-bottom: 60px;

        .card {
            background-color: var(--surface-50);
            height: 150px;
            padding: 20px;
            border-radius: 5px;

            p {
                margin: 0;
                color: var(--text-color);
                font-size: 1rem;
                font-weight: 600;

                i {
                    margin-right: 10px;
                    color: var(--primary-color);
                }

                &:last-of-type {
                    margin-top: 15px;
                    font-size: 0.9rem;
                    line-height: 1.2rem;
                    font-weight: 400;
                    color: var(--text-color-secondary);
                }
            }
        }
    }

    @include responsive(large) {
        .cards {
            grid-template-columns: repeat(3, 1fr);
        }
    }

    @include responsive(medium) {
        .cards {
            grid-template-columns: repeat(2, 1fr);
        }

        .hero {
            h1 {
                font-size: 4rem;
            }
        }
    }

    @include responsive(small) {
        padding-top: 100px;

        .hero {
            margin-bottom: 50px;

            h1 {
                font-size: 2rem;
            }

            .content {
                p {
                    font-size: 1.2rem;
                }

                button {
                    padding: 10px 15px;
                }
            }
        }

        .cards {
            grid-template-columns: repeat(1, 1fr);
        }
    }
}