#page-resume {
    padding-top: 250px;

    h1 {
        text-align: center;
        max-width: 770px;
        margin: auto;
        margin-top: 0;
        font-size: 5rem;
        color: var(--text-color);
        padding-bottom: 100px;

        span {
            color: var(--primary-color);
        }
    }

    .timeline {
        margin: auto;
        width: 770px;

        ul {
            padding-left: 100px;
            list-style: none;
            position: relative;

            &::before {
                content: '';
                display: block;
                position: absolute;
                height: 100%;
                left: 16px;
                width: 8px;
                background-color: var(--surface-100);
                -webkit-box-shadow: inset 0px -20px 10px 0px var(--surface-0);
                box-shadow: inset 0px -20px 10px 0px var(--surface-0);
            }

            li {
                max-width: 800px;
                position: relative;
                padding-bottom: 85px;
                padding-top: 10px;

                .icon {
                    position: absolute;
                    font-size: 1.3rem;
                    left: -90px;
                    top: 10px;
                    color: var(--primary-color);
                }

                &:last-of-type {
                    padding-bottom: 0;
                    margin-bottom: 100px;
                }

                &::before {
                    content: '';
                    position: absolute;
                    left: -100px;
                    top: 0px;
                    display: block;
                    width: 40px;
                    height: 40px;
                    background-color: var(--surface-50);
                    border-radius: 50%;
                }

                .available {
                    font-size: 1.8rem;
                    font-weight: 500;
                    margin-top: -8px;
                }

                .years {
                    font-size: 1.8rem;
                    font-weight: 500;
                    margin-top: -8px;

                    i {
                        color: var(--primary-color);
                        font-size: 1.3rem;
                    }
                }

                .title {
                    color: var(--text-color-secondary);
                    padding-top: 10px;
                    font-weight: 500;
                }

                .desc {
                    padding-top: 20px;
                    padding-bottom: 20px;
                    font-size: 1.2rem;
                    color: var(--text-color-secondary);
                }

                .tags {
                    display: flex;
                    flex-wrap: wrap;
                    gap: 3px;
                }
            }
        }
    }

    @include responsive(medium) {
        .timeline{
            width: 100%;
        }
    }
    @include responsive(small) {
        padding-top: 100px;
        h1 {
            width: 100%;
            margin: 0;
            font-size: 2.5rem;
            padding-bottom: 20px;
        }
        .timeline{
            .available{
                text-align: center;
            }
            ul{
                padding-left: 0;
                &::before{
                    opacity: 0;
                }
                li{
                    border-bottom: 1px solid var(--surface-50);
                    padding-bottom: 50px;
                    padding-top: 50px;
                    &:last-of-type{
                        border:0;
                    }
                    .years{
                        font-size: 1.2rem;
                    }
                    .desc{
                        font-size: 1rem;
                    }
                }
            }
        }
    }
}