#page-techno {
    padding-top: 250px;

    h1, h2, h3 {
        margin-top: 0;
        font-size: 5rem;
        color: var(--text-color);

        span {
            color: var(--primary-color);
        }
    }

     .cards{
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        gap: 20px;
        padding-bottom: 100px;

        .card{
            width: 100%;
            // aspect-ratio: 1/1;
            background-color: var(--surface-50);
            border-radius: 5px;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-top: 25px;
            img{
                width: 70%;
                aspect-ratio: 1/1;
            }
            p{
                font-size: 1.5rem;
            }
        }
     }

     
    @include responsive(large){
        .cards{
            grid-template-columns: repeat(4, 1fr);
        }
    }
    @include responsive(medium){
        .cards{
            grid-template-columns: repeat(3, 1fr);
        }
    }
    @include responsive(small){
        padding-top: 100px;
        h1, h2, h3{
            font-size: 2.5rem; 
        }
        .cards{
            grid-template-columns: repeat(2, 1fr);
            padding-bottom: 25px;
        }
    }
}