#page-work{
    padding-top: 250px;
    .top{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    h1{
        margin-top: 0;
        font-size: 5rem;
        color: var(--text-color);
        span{
            color: var(--primary-color);
        }
    }
    .cards{
        display: grid;
        grid-auto-flow: 1fr;
        grid-template-columns: repeat(3, 1fr);
        gap: 35px;
        padding-bottom: 100px;
        .card{
            display: flex;
            flex-flow: column;
            background-color: var(--surface-50);
            border-radius: 5px;
            padding: 25px;
            .picture{
                width: 100%;
                aspect-ratio: 16/9;
                background-color: var(--surface-0);
                display: block;
                border-radius: 2px;
                img{
                    width: 100%;
                }
            }
            .title{
                margin-top: 25px;
                font-size: 1.5rem;
                font-weight: 600;
            }
            .desc{
                line-height: 1.5rem;
                font-weight: 400;
                color: var(--text-color-secondary);
            }
            .tags{
                display: flex;
                gap: 3px;
                margin-bottom: 10px;
            }
            .demo{
                display: flex;
                justify-content: right;
            }
            .links{
                display: flex;
                gap: 5px;
            }
        }
    }

    @include responsive(large){
        .cards{
            grid-template-columns: repeat(2, 1fr);
        }
    }
    @include responsive(medium){
        .cards{
            grid-template-columns: repeat(2, 1fr);
        }
    }
    @include responsive(small){
        padding-top: 100px;
        h1{
            font-size: 2.5rem; 
        }
        .top{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-start;
            padding-bottom: 25px;
        }
        .cards{
            grid-template-columns: repeat(1, 1fr);
            padding-bottom: 20px;
        }
    }
}