<template>
    <div id="app-header">
        <NuxtLink to="/" class="logo">TH<span>CV.</span></NuxtLink>
        <ul>
            <li>
                <NuxtLink to="/">Home</NuxtLink>
            </li>
            <li>
                <NuxtLink to="/work">Work</NuxtLink>
            </li>
            <li>
                <NuxtLink to="/resume">Resume</NuxtLink>
            </li>
            <li>
                <NuxtLink to="/about">About</NuxtLink>
            </li>
            <li>
                <NuxtLink to="/contact">Contact</NuxtLink>
            </li>
        </ul>
        <Button class="menu" @click="open = !open" title="open"><i class="pi pi-bars"></i></Button>
    </div>
    <div id="side-panel" :class="{ visible: open }">
        <Button class="close" @click="open = !open" title="close"><i class="pi pi-times"></i></Button>
        <ul>
            <li>
                <NuxtLink @click="open = !open" to="/">Home</NuxtLink>
            </li>
            <li>
                <NuxtLink @click="open = !open" to="/work">Work</NuxtLink>
            </li>
            <li>
                <NuxtLink @click="open = !open" to="/resume">Resume</NuxtLink>
            </li>
            <li>
                <NuxtLink @click="open = !open" to="/about">About</NuxtLink>
            </li>
            <li>
                <NuxtLink @click="open = !open" to="/contact">Contact</NuxtLink>
            </li>
        </ul>
        <Accordion :activeIndex="0" class="accordion">
            <AccordionTab header="Themes 🎨">
                <div class="themes-switch">
                    <div v-for="theme of themes.themes" class="theme">
                        <div class="cube-color" :style="`background-color:` + theme.primary"></div>
                        <div class="cube-color" :style="`background-color:` + theme.secondary"></div>
                        <Button outlined @click="toggleTheme(theme.name)" :title="theme.name">{{
                            theme.name
                        }}</Button>
                    </div>
                </div>
            </AccordionTab>
            <AccordionTab header="Road Map 🌍">
                <p>Refacto Pages</p>
                <p>Refacto Styles</p>
                <p>Multilingual</p>
                <p>Language Switcher</p>
                <p>Background Homepage</p>
                <p>Animations</p>
            </AccordionTab>
        </Accordion>
    </div>
    <div class="backdrop" @click="open = !open" :class="{ visible: open }"></div>
</template>

<script setup>
import themes from '@/assets/json/themes.json';

import { ref } from 'vue';
import { usePrimeVue } from 'primevue/config';
import { useToast } from "primevue/usetoast";

const toast = useToast();
const open = ref(false);
const PrimeVue = usePrimeVue();
const defaultTheme = 'aura-dark-custom'
let currentTheme = ref(defaultTheme);

setTimeout(() => {
    if (process.client) {
        const storedTheme = window.localStorage.getItem('theme');
        let theme = defaultTheme;
        if (storedTheme) {
            theme = storedTheme;
            if (theme != defaultTheme) {
                toast.add({ severity: 'secondary', summary: 'Theme loading...', detail: 'The theme has been correctly loaded from the localstorage. You can change the theme in the side panel ✌️', life: 3000 });
            }
        }
        toggleTheme(theme);
    }
}, 200)

const toggleTheme = (nextTheme) => {
    PrimeVue.changeTheme(currentTheme.value, nextTheme, 'theme-link', () => { });
    currentTheme.value = nextTheme;
    if (process.client) {
        window.localStorage.setItem('theme', nextTheme);
    }
}
</script>