<template>
    <div class="cards">
        <div class="card">
            <p><i class="pi pi-box"></i> Components</p>
            <p>Based on components with vuejs, angular or nativeJS.</p>
        </div>
        <div class="card">
            <p><i class="pi pi-external-link"></i> Scalable</p>
            <p>Create app to be able to manage a large amount of data.</p>
        </div>
        <div class="card">
            <p><i class="pi pi-language"></i> Multilingual</p>
            <p>Translates app into many languages with i18n.</p>
        </div>
        <div class="card">
            <p><i class="pi pi-clock"></i> Real-time</p>
            <p>Bidirectional and event-based communication with Socket.</p>
        </div>
        <div class="card">
            <p><i class="pi pi-cog"></i> Versioning</p>
            <p>Version management with git or gitlab, and git-flow practices.</p>
        </div>
        <div class="card">
            <p><i class="pi pi-palette"></i> UX / UI</p>
            <p>Easy to use with its ergonomics, intuitive features.</p>
        </div>
        <div class="card">
            <p><i class="pi pi-user"></i> Tracking</p>
            <p>Understand the usage of its website by tracking with mixpanel or other.</p>
        </div>
        <div class="card">
            <p><i class="pi pi-list"></i> SEO</p>
            <p>Optimise your app seo with SSR technology and other goods practices.</p>
        </div>
    </div>
</template>