<template>
    <div class="hero">
        <div class="avatar">
        </div>
        <div class="content">
            <h1>Meet your next<br><span>Frontend developer.</span></h1>
            <p>I love to craft beautiful static websites & complex web apps,
                <span class="color">easy to use</span> and <span class="color">scalable</span>.
            </p>
            <NuxtLink to="/contact"><Button label="Contact me" rounded /></NuxtLink>
            <NuxtLink to="/work"><Button label="Check my work" severity="secondary" rounded outlined /></NuxtLink>
        </div>
    </div>
</template>