@import url("primeicons/primeicons.css");
@import url("./animations.scss");

@layer normalize, primevue;
@import "normalize.css" layer(normalize-reset);


// COMPONENTS STYLES

@import url("./components/app-header.scss");

// PAGES

@import url("./pages/index.scss");
@import url("./pages/work.scss");
@import url("./pages/contact.scss");
@import url("./pages/resume.scss");
@import url("./pages/about.scss");
@import url("./pages/techno.scss");

@import url("./color-palette/index.scss");

html {
    background-color: var(--surface-0);
}

#empty-layout{
    width: 100%;
    min-height: 100vh;
    background-color: #fff;
}

.page {
    width: 1400px;
    margin: auto;

    @include responsive(large) {
        width: 1100px;
    }

    @include responsive(medium) {
        width: calc(100% - 70px);
    }

    @include responsive(small) {
        width: calc(100% - 40px);
    }
}

.p-toast-icon-close {
    outline-color: var(--surface-0);
}

.p-accordion-content {
    background-color: var(--surface-50);
}

:root {
    --anim: cubic-bezier(0.4, 0.0, 0.2, 1);
}