@mixin responsive($point) {
    @if $point == small {
      @media (max-width: 786px) { @content; }
    }
    @if $point == medium {
      @media (max-width: 1170px) { @content; }
    }
    @if $point == large {
      @media (max-width: 1470px) { @content; }
    }
  }