#app-header {
    position: fixed;
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 35px;
    z-index: 20;

    .logo,
    .menu,
    ul {
        background-color: rgba(var(--surface-50), 1) !important;
        backdrop-filter: saturate(100%) blur(20px);
        -webkit-backdrop-filter: saturate(100%) blur(20px);
    }

    .logo {

        padding: 11px 11px;
        margin-left: -11px;
        border-radius: 5px;
        font-size: 1.4rem;
        text-decoration: none;
        font-weight: 800;
        color: var(--text-color);

        span {
            font-weight: 400;
            transition: color .2s ease;
        }

        &:hover {
            span {
                color: var(--primary-color);
            }
        }
    }

    .menu {

        padding: 13px 13px;
        margin-right: -13px;
        border-radius: 5px;
        border: 0;

        i {
            font-size: 1.2rem;
            color: var(--text-color);
            transition: color .2s ease;

            &:hover {
                color: var(--primary-color);
            }
        }
    }

    ul {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        list-style: none;
        padding-left: 0;
        display: flex;
        gap: 50px;
        padding: 15px 35px;
        border-radius: 5px;

        li {
            a {
                text-decoration: none;
                color: var(--text-color);
                text-transform: uppercase;
                font-weight: 500;
                opacity: 0.7;
                transition: opacity .2s ease, color .2s ease;

                &.router-link-active {
                    opacity: 1;
                    color: var(--primary-color);
                }

                &:hover {
                    opacity: 1;
                    color: var(--primary-color);
                }
            }
        }
    }

    @include responsive(small) {
        padding: 0 20px;

        ul {
            display: none;
        }
    }
}

#side-panel {
    position: fixed;
    right: -375px;
    top: 0;
    bottom: 0;
    width: 375px;
    background-color: var(--surface-50);
    z-index: 22;
    transition: all 0.25s var(--anim);
    overflow: auto;
    padding-bottom: 50px;

    &.visible {
        right: 0;
    }

    ul {
        display: none;
        list-style: none;
        padding-left: 40px;
        padding-top: 10px;
        padding-bottom: 40px;
        border-bottom: 1px solid var(--surface-0);

        li {
            width: 100%;
            height: 60px;
            font-size: 2rem;
            display: flex;
            align-items: center;

            a {
                text-decoration: none;
                color: var(--text-color);
                font-weight: 500;
                letter-spacing: 0.2rem;

                &.router-link-active {
                    opacity: 1;
                    color: var(--primary-color);
                }
            }
        }
    }

    .themes-switch {
        padding-bottom: 15px;

        .theme {
            display: flex;
            height: 50px;
            align-items: center;
            gap: 10px;
            padding-top: 30px;
            padding-left: 10px;
        }

        .cube-color {
            height: 40px;
            width: 40px;
            border-radius: 5px;
        }
    }

    .close {
        background-color: var(--surface-0);
        padding: 13px 13px;
        border-radius: 5px;
        border: 0;
        position: absolute;
        right: 22px;
        top: 17px;

        i {
            font-size: 1.2rem;
            color: var(--text-color);
            transition: color .2s ease;

            &:hover {
                color: var(--primary-color);
            }
        }
    }

    .accordion {
        margin-top: 80px;

        p {
            padding-left: 10px;
        }

        li {
            font-size: 1rem;
            margin-bottom: 15px;
            padding-left: 10px;

            a {
                text-decoration: none;
                color: var(--text-color);

                &:hover {
                    color: var(--primary-color);
                }
            }
        }
    }
}

.backdrop {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 100%;
    background-color: rgba($color: #000000, $alpha: .55);
    z-index: 21;
    opacity: 0;
    transition: opacity 0.3s var(--anim), left .01s var(--anim);
    cursor: pointer;

    &.visible {
        opacity: 1;
        left: 0;
        z-index: 21;
    }
}

@include responsive(large) {}

@include responsive(medium) {}

@include responsive(small) {
    #side-panel {
        width: 100%;
        right: -100vw;

        ul {
            display: block;
        }
    }
}