<template>
    <div id="page-about" class="page">
        <div class="grid">
            <Galleria :value="rando" :numVisible="5" containerStyle="max-width: 100%" :circular="true"
                :showItemNavigators="true" :showThumbnails="false" :showItemNavigatorsOnHover="true" :showIndicators="true"
                :showIndicatorsOnItem="true" containerClass="galleria">
                <template #item="slotProps">
                    <img :src="`/imgs` + slotProps.item" alt="photo rando" />
                </template>
            </Galleria>
            <div class="desc">
                <h1>Trekking<span>.</span></h1>
                <p>One of my first passions is hiking. I love walking for hours exploring and discovering incredibly
                    beautiful landscapes, seeing sunsets, bivouacking and trekking for days on end! In September 2023, I was
                    able to complete a trek that was close to my heart, the G20, considered to be the most difficult of the
                    French GR, with no less than 192km and 14,000 metres of accumulated elevation gain, achieved in 14 days.
                </p>
                <NuxtLink to="https://instagram.com/pa23sports" target="_blank" rel="noopener noreferrer">
                    <Button outlined><i class="pi pi-instagram" title="Instagram"></i></Button>
                </NuxtLink>
            </div>
        </div>
        <div class="grid">
            <div class="desc">
                <h1>Photography<span>.</span></h1>
                <p>My father has always been a photographer, and when I was a teenager he gave me my first camera, and
                    that's when I really discovered photography. I began by taking an interest in macro photography, which
                    fascinated me greatly, discovering a small world that nobody sees, and then I developed my skills in
                    wildlife and landscape photography, sports photography, equestrian photography and portraiture.</p>
                <NuxtLink to="https://instagram.com/pa23photos" target="_blank" rel="noopener noreferrer">
                    <Button outlined><i class="pi pi-instagram" title="Instagram"></i></Button>
                </NuxtLink>
            </div>
            <Galleria :value="photo" :numVisible="5" containerStyle="max-width: 100%" :circular="true"
                :showItemNavigators="true" :showThumbnails="false" :showItemNavigatorsOnHover="true" :showIndicators="true"
                :showIndicatorsOnItem="true" containerClass="galleria">
                <template #item="slotProps">
                    <img :src="`/imgs` + slotProps.item" alt="photo rando" />
                </template>
            </Galleria>
        </div>
        <div class="grid">
            <Galleria :value="leather" :numVisible="5" containerStyle="max-width: 100%" :circular="true"
                :showItemNavigators="true" :showThumbnails="false" :showItemNavigatorsOnHover="true" :showIndicators="true"
                :showIndicatorsOnItem="true" containerClass="galleria">
                <template #item="slotProps">
                    <img :src="`/imgs` + slotProps.item" alt="photo rando" />
                </template>
            </Galleria>
            <div class="desc">
                <h1>Leathercraft<span>.</span></h1>
                <p>I've always loved crafts, whether wood, metal, pottery or anything else! One day, when I had to change my
                    wallet and couldn't find anything I liked with quality, I decided to do it myself! That's when I
                    discovered leather goods in 2019, and since then I've been creating wallets, small bags, large travel
                    bags and much more! </p>
                <NuxtLink to="https://instagram.com/atelierpetitcerf" target="_blank" rel="noopener noreferrer">
                    <Button outlined><i class="pi pi-instagram" title="Instagram"></i></Button>
                </NuxtLink>

            </div>
        </div>
        <div class="grid">
            <div class="desc">
                <h1>Dog father<span>.</span></h1>
                <p>I've always dreamed of having a dog, ever since I was little. My parents always refused, so I swore to
                    myself that when I had the chance to have a dog in a house with a garden, I wouldn't hesitate! An
                    opportunity came my way through my cousin! Gaia was born, and since then she's shared my life and my
                    daily routine.</p>
                <NuxtLink to="https://instagram.com/gaiathemountaindoggo" target="_blank" rel="noopener noreferrer">
                    <Button outlined><i class="pi pi-instagram" title="Instagram"></i></Button>
                </NuxtLink>
            </div>
            <Galleria :value="dog" :numVisible="5" containerStyle="max-width: 100%" :circular="true"
                :showItemNavigators="true" :showThumbnails="false" :showItemNavigatorsOnHover="true" :showIndicators="true"
                :showIndicatorsOnItem="true" containerClass="galleria">
                <template #item="slotProps">
                    <img :src="`/imgs` + slotProps.item" alt="photo rando" />
                </template>
            </Galleria>
        </div>
    </div>
</template>

<script setup>

const rando = ['/rando/rando_1.jpg', '/rando/rando_2.jpg', '/rando/rando_3.jpg', '/rando/rando_4.jpg', '/rando/rando_5.jpg'];
const photo = ['/photo/photo_1.jpg', '/photo/photo_2.jpg', '/photo/photo_3.jpg', '/photo/photo_4.jpg', '/photo/photo_5.jpg'];
const leather = ['/leather/leather_1.jpg','/leather/leather_2.jpg','/leather/leather_3.jpg','/leather/leather_4.jpg','/leather/leather_5.jpg'];
const dog = ['/dog/gaia_1.jpg', '/dog/gaia_2.jpg', '/dog/gaia_3.jpg', '/dog/gaia_4.jpg', '/dog/gaia_5.jpg'];

</script>