<template>
  <div class="page" id="page-contact">
    <h1>Let's work <span>together !</span></h1>
    <p>Do not hesitate to send me an e-mail or schedule a phone call with Calendly, if you have an opportunity.</p>
    <div class="btns">
      <NuxtLink to="mailto:amn3siiagfx@gmail.com">
        <Button title="send to amn3siiagfx@gmail.com">Get in touch</Button>
      </NuxtLink>
      <!-- <CalendlyPopupButton v-bind="options" :root-element="rootElement" class="p-button p-component p-button-outlined" /> -->
      <NuxtLink to="https://instagram.com/pa23photos" target="_blank" rel="noopener noreferrer">
        <Button outlined><i class="pi pi-instagram" title="Instagram"></i></Button>
      </NuxtLink>
      <div ref="rootElement" />
    </div>
  </div>
</template>

<script lang="ts" setup>

const rootElement = ref();
const options = {
  url: "https://calendly.com/pierreallain/call-30-min",
  text: "Calendly",
};
</script>