<template>
    <div class="page" id="page-resume">
        <h1>Resume<span>.</span></h1>

        <div class="timeline">
            <ul>
                <li>
                    <i class="pi pi-bolt icon"></i>
                    <div class="available">Available for a new job !</div>
                </li>
                <li v-for="job in jobs.items">
                    <i class="pi icon" :class="job.icon"></i>
                    <div class="years">{{ job.years }} <i class="pi pi-angle-right"></i> <span>{{ job.role }}</span></div>
                    <div class="title">{{ job.title }}</div>
                    <div class="desc">
                        {{ job.desc }}
                    </div>
                    <div class="tags" v-if="job.tags">
                        <Tag v-for="tag in job.tags">{{ tag }}</Tag>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</template>

<script setup>
import jobs from './assets/json/timeline.json';
</script>