<template>
    <div class="page" id="page-techno">
        <div class="section">
            <h1>Techno<span>.</span> <span> {{ Object.keys(data.lang).length }}</span></h1>
            <div class="cards">
                <div class="card" v-for="lang in data.lang">
                    <img :src="`/imgs/techno/${lang.logo}`" :alt="`techno` + lang.name">
                    <p>{{ lang.name }}</p>
                </div>
            </div>
        </div>
        <div class="section">
            <h2>Tools<span>.</span> <span> {{ Object.keys(data.tools).length }}</span></h2>
            <div class="cards">
                <div class="card" v-for="tools in data.tools">
                    <img :src="`/imgs/techno/${tools.logo}`" :alt="`techno` + tools.name">
                    <p>{{ tools.name }}</p>
                </div>
            </div>
        </div>
        <div class="section">
            <h3>Design<span>.</span> <span> {{ Object.keys(data.design).length }}</span></h3>
            <div class="cards">
                <div class="card" v-for="design in data.design">
                    <img :src="`/imgs/techno/${design.logo}`" :alt="`techno` + design.name">
                    <p>{{ design.name }}</p>
                </div>
            </div>
        </div>
    </div>
</template>

<script setup>

import data from './assets/json/techno.json'

</script>