<template>
    <div class="page" id="page-work">
        <div class="top">
            <h1>Work<span>.</span> <span> {{ Object.keys(works.data).length }}</span></h1>
            <NuxtLink to="/techno"><Button severity="secondary" outlined title="techno page">Technos & Languages</Button></NuxtLink>
        </div>
        <div class="cards">
            <div class="card" v-for="(work, index) in works.data" v-bind:key="index">
                <div class="picture">
                    <NuxtImg :src="`/imgs/${work.thumb}`" alt="thumb" />
                </div>
                <div class="title">{{ work.title }}</div>
                <p class="desc">{{ work.description }}</p>
                <div class="tags">
                    <span v-for="(tag, index) in work.tags" v-bind:key="index">
                        <Tag :value="tag"></Tag>
                    </span>
                </div>
                <div class="links">
                    <NuxtLink :to="work.demo_link" v-if="work.demo_link" target="_blank" rel="noopener noreferrer">
                        <Button outlined title="play_link">Play with it</Button>
                    </NuxtLink>
                    <NuxtLink :to="work.git_link" v-if="work.git_link" target="_blank" rel="noopener noreferrer">
                        <Button outlined severity="warning" title="gitlab_link">Gitlab</Button>
                    </NuxtLink>
                </div>
            </div>
        </div>
    </div>
</template>

<script setup>

import works from './assets/json/work.json'

</script>