#color-palette-page {
    margin: auto;
    width: 800px;
    padding-top: 200px;
    color: #000;

    .cp {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        margin-bottom: 25px;

        div {
            aspect-ratio: 1/1;
            display: flex;
            align-items: flex-end;
            justify-content: center;
            
            &:first-child{
                border-top-left-radius: 5px;
                border-bottom-left-radius: 5px;
            }
            &:last-child{
                border-top-right-radius: 5px;
                border-bottom-right-radius: 5px;
            }

            p {
                background-color: rgba(0, 0, 0, .1);
                padding: 8px 16px;
                text-transform: uppercase;
                font-size: 0.8rem;
                margin: 0;
                border-top-left-radius: 10px;
                border-top-right-radius: 10px;
                color: #fff;
            }
        }
    }
}