<template>
    <div id="color-palette-page">
        <ClientOnly  fallback="Loading Palette...">
            <div class="cp" v-if="cp">
            <div v-for="(i, index) in 4" :style="`background-color: rgb(` + cp[index][0] + `,` + cp[index][1] + `,` + cp[index][2] + `);`">
                <p>{{ rgbToHex(cp[index][0], cp[index][1], cp[index][2]) }}</p>
            </div>
        </div>
        </ClientOnly>
        <Button severity="secondary" outlined v-on:click="refreshCP()"><i class="pi pi-refresh"></i></Button>
    </div>
</template>

<script setup>
// all content on this script is experimental / testing code (not production ready)

definePageMeta({
    layout: 'empty'
})

import { computed, reactive, ref } from 'vue';

let cp = ref(makeCp());

function rgbToHex(r, g, b){
    return '#' + [r, g, b].map(x => x.toString(16).padStart(2, '0')).join('');
}

function randomNumRgb(){
    return Math.floor(Math.random() * 255);
}

function makeCp(){
    const array = [];
    for (let i = 0; i < 4; i++) {
        array.push([randomNumRgb(), randomNumRgb(), randomNumRgb()]);
    }
    return array;
}

function refreshCP(){
    cp.value = [];
    cp.value = makeCp();
}
</script>